*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
h1{

    background-color: black;
}
body{
    background-color: red;
    margin: 0px auto;
}
img{
    width: 200px;
    margin-top: 60px;

}